<div class='chat-users'>
	<div class='chat-user'>
		{{{Avatar src=avatarSrc alt=avatarAlt}}}

		<div class='chat-user__text'>
			<div class='chat-user__name'>
				{{name}}
			</div>

			<div class='chat-user__message'>
				{{lastMessage}}
			</div>
		</div>

		<div class='chat-user__statistic'>
			<span class='last-message-time'>
				{{lastMessageTime}}
			</span>
			{{{Badge text=messageCount}}}
		</div>
	</div>
</div>
