<main class='chat-main-wrapper'>

	{{{ SettingsOverlay ref="settings-overlay" closeOverlayHandle=closeOverlayHandle }}}

	<div class='chat-left-column'>
		<div class='chat-search'>
			{{#CircleButton dark=true onClick=userPageClickHandle }}
				<i class='fa-solid fa-user-gear'></i>
			{{/CircleButton}}
			{{{Input classes="chat-search__input" placeholder='Поиск'}}}
			{{#CircleButton onClick=addChatHandle }}
				<i class='fa-solid fa-plus' /></i>
			{{/CircleButton}}

			{{{PopupAddChat ref='popup-add-chat'}}}
		</div>

		<div class='chat-cards'>
			{{#each chats }}
				{{{ChatCard
					id=this.id
					avatarSrc=this.avatar
					avatarAlt=this.title
					title=this.title
					lastMessage=this.last_message.content
					lastMessageTime=this.created_by
					messageCount=this.unread_count
				}}}
			{{/each}}
		</div>
	</div>

		{{#if selectedChat }}
			{{{ ChatMessenger }}}
		{{/if}}
</main>
