<div class="form-field {{classes}}">
	<label for="{{name}}" class="form-field__label">
		{{#if label}}{{label}}{{else}}Подпись к текстовому полю{{/if}}
	</label>
	{{{ Input classes="form-field__input" name=name type=type placeholder=placeholder onBlur=onInputBlur value=value validator=validator }}}
	{{#Span ref='error' classes='form-field__error' }}
		{{error}}
	{{/Span}}
</div>
